body {
    background-image: url("/static/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav_icon {
    border-radius: 5px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.home_text {
    text-align: center;
    display: inline-block;
    margin: 50px 400px 200px 400px;
    padding: 20px 20px 20px 20px;
    background-color: black;
    color: yellow;
    border-radius: 25px;
}

.home_collections {
    background-color: black;
    color: yellow;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    border-radius: 25px;
}
