{% extends "characters_explorer/base.html" %}

{% block body_block%}

<div class="container">
    <div class="home_text">
        <h1>Star Wars Characters Explorer</h1>
        <p>Star Wars characters explorer is a simple application
            allowing you to fetch collections containing all of the saga's characters.<br>
            Once you fetch the latests collection you can explore data about the characters.<br>
            Just go to the collection tab and fetch the data.
            <br><br>
            The data is provided by the SWAPI <br>
            You can visit their website at <a href="https://swapi.dev/">SWAPI</a>
        </p>
    </div>
</div>

{% endblock %}